@import "../bower_components/normalize-css/normalize.css";

body{
	font-family: 'Open Sans', sans-serif;
}


.header-top {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 7px 38.7px 4.3px rgba(0, 0, 0, 0.38);
  margin-top: 118px;
  max-width: 1440px;
  height: 60px;
  position: relative;
  z-index: 4;
}

.rent-time{
	text-transform: uppercase;
	display: block;
    margin-left: 22px;
    position: relative;
    top: 19%;
    cursor: pointer;
}

.rent-time__text{
	position: absolute;
    top: 10px;
    left: 44px;
}

.rent-time__text::before{
	content:"";
	background-image: url('../img/calend.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: -22px;
}

.active{
  display: block;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.39);
  width: 201px;
  height: 38px;
  color:#44c0bc;
  border-radius: 50px;
}

.content{
	max-width: 1280px;
	margin: 0 auto;
}

.car-item{
	width: 298px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 10px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.car-item__img{
	width: 298px;
	height: 181px;
}

.car-item__price{
	width: 83px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 44%;
    color: #;
    background: #fff;
    padding: 10px;
}

.filter__text{
	text-transform: uppercase;
	font-size: 14px;
}

.filter__value{
	text-transform: uppercase;
	font-weight: 700;
	color: #88c659;
	font-size: 25px;	
}

.car-item__address{
	color: #8b8b8b;
}

.header-bottom{
	text-align: center;
    margin: 45px 0 45px 0;
}

.time-filter{
  background-color: rgb(255, 255, 255);
    position: absolute;
    left: 2%;
    top: 177px;
    width: 89%;
    height: 500px;
    z-index: 4;
    right: 2%;
}

.time-filter__close{
	background-image: url('../img/close.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
}

.time-filter__title{
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	margin-top: 80px;
    margin-bottom: 65px;
}

.car-item__casco, .car-item__osago{
	padding: 5px 14px 5px 11px;
	display: inline-block;
	color: #d2d2d2;
	background: #e8e8e8;
}

.isactive{
	background: #fdcd00;
	color: #000;
}

.car-item__stars{
	background-image: url('../img/starz.png');
	background-repeat: no-repeat;
	width: 70px;
	height: 12px;
	float: right;
}

.heart{
	fill: #fff;
	width: 18px;
	position: absolute;
    right: 11px;
    top: 20px;
}

.time-filter__form {
	text-align: center;
}

.time-filter__begin{
	border: 1px solid #d1d1d1;
	height: 39px;
    text-align: center;
    border-radius: 26px;
}

.time-filter__end{
	border: 1px solid #d1d1d1;
    height: 39px;
    width: 217px;
    text-align: center;
    border-radius: 26px;
    margin-top: 32px;
    margin-right: 36px;
}

.time-filter__reset{
	color:#00a9a4;
	text-transform: uppercase;
	border:0;
	background: #fff;
	display: block;
	margin: 0 auto;
	margin-top: 71px;
}

.time-filter__reset:focus, .time-filter__submit:focus, .time-filter__begin:focus, .time-filter__end:focus{
	outline:0;
}

.time-filter__submit{
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  border-radius: 26px;
  background-color: rgb(133, 204, 88);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
  width: 170px;
  height: 52px;
  border: 0;
  margin-top: 35px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  width:100%;
  height: 100%;
}
